.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    padding-top: 0.7%;
    padding-bottom: 0.8%;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;

    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.title{
    height: auto;
    width: auto;
    color: #18694e;
    font-size: 35px;
    padding-left: 60px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.title span{
    cursor: pointer;
    text-decoration: NONE;
}

.home{
    padding-top: 5px;
    padding-right: 60px;
    text-align: center;
}

.home span{
    cursor: pointer;
}

.logout-button{
    display: flex;
    background-color: #18694e; /* Green */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    float: right;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.logout-button-text{
    font-size: 20px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
  }