.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    padding-top: 6PX;
    padding-bottom: 6px;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;

    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.title-short {
    display: none; /* Both logo and title-short are initially hidden */
    /* Set other necessary styles, if you have any for these classes */
}

@media screen and (max-width: 645px) {
    .title {
        display: none; /* Hide the full title on small screens */
    }

    .title-short {
        display: inline-flex; /* Show logo and short title on small screens */
        align-items: center; /* Center items vertically */
    }
}

.title, .title-short{
    height: auto;
    width: auto;
    color: #18694e;
    font-size: 25px;
    padding-left: 60px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.title span{
    cursor: pointer;
}

.home{
    padding-top: 5px;
    padding-right: 60px;
    text-align: center;
}

.home span{
    cursor: pointer;
}

.home img{
    width: 40px;
}

.logout-button{
    display: flex;
    background-color: #18694e; /* Green */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    float: right;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.logout-button-text{
    font-size: 15px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
  }