.ltp-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 9.2%;
    justify-content: center;
    align-items: center;   
    width: 90%;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 50px;
}

.ltp-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;

    gap: 25px;

    color: #18694e;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.ltp-search{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 80px;
    background: #edf5f3;
    border-radius: 50px;
}

.ltp-search input{
    height: 50px;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 18px;
    opacity: 50%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif; 
}

.ltp-search-button {
    padding-right: 27px;
    opacity: 90%;
}

.ltp-search-button span{
    cursor: pointer;
}

.ltp-patients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 40px;
    background-color: transparent; 
    padding: 10px 10px 10px 10px; 
    max-width: 85%; 
    margin: auto;
    margin-top: 50px;
}
  
.ltp-p-h {
    width: 1000px;
    text-align: center;
    padding: 10px; 
    font-size: auto;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #18694e;
}

.ltp-p-h-separator {
    opacity: 25%;
    font-size: 30px;
    padding-bottom: 0.5%;
}